* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 400px;
  background-color: white;
  border-left: solid rgba(243, 163, 3, 0.7) 4px;
  border-radius: 8px;
  box-shadow: -2px 0 0 5px black;
  padding: 15px;
}

h1 {
  font-family: "Poppins", sans-serif;
}
#contactinfo {
  border: 1px solid rgba(255, 25, 55, 0.3);
  line-height: 2;
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: teal;
}
a:hover {
  color: rgb(222, 41, 173);
  transition: color 0.2s ease;
}

.pricing-container {
  min-width: 80vw;
  min-height: 80vh;
}
.domain-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.pro {
  background-color: teal;
  color: white;
}
